Your trips are:

<ul>
<%@trips.each do |trip|%>
  <li><%=trip.origin%>
  <li><a href="trips/<%=trip.id%>">Go to trip</a>
<%end%>

</ul>

Go back to home page:  <a href="/users/<%=current_user.id%>">here</a>
