
<div class="row" id="logged_in_background" >
     <div class="col-sm col-md-4 offset-md-4 big_block">
      <form action="/trips" method="POST">
        <div class="form-group">
          <label for="Origin">Origin</label>
          <input type="string" class="form-control" name="trip[origin]"  id="origin" placeholder="City, Country" required pattern="[a-zA-Z]+,\s[a-zA-Z]+">
        </div>
        <div class="form-group">
          <label for="destination">Destination</label>
          <input type="string" class="form-control" name="trip[destination]"  id="destination" placeholder="City, Country" required>
        </div>
        <div class="form-group">
          <label for="departing">Departing</label>
          <input type="date" class="form-control" name="trip[departing]"  id="departing" placeholder="Departing" required>
        </div>
        <div class="form-group">
          <label for="returning">Returning</label>
          <input type="date" class="form-control" name="trip[returning]" id="returning" placeholder="Returning" required>
        </div>

        <div class="form-group">
          <label for="transportation">Transportation</label>
          <input type="string" class="form-control" name="trip[transportation]" id="transportation" placeholder="Transportation" required>
        </div>

        <button type="submit" class="btn btn-burgundy">Create Trip</button>
        <button type="submit" formaction='/' formmethod="get" class="btn btn-burgundy" formnovalidate>Cancel</button>
      </form>
    </div>
  </div>
</div>
