@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    background-color: #EEE5EE;
    height: 100%;
    width: 100%;
  }

  /* --- Welcome/(MAIN INDEX) Page Styles --- */
  body {
    background-color: #EEE5EE;
    font-family: Sans-Serif;
    line-height: 18px;
  }


}
