*= require simple_calendar

html, body {
    background-color: #EEE5EE;
    height: 100%;
    width: 100%;
}

  /* --- Welcome Page Styles --- */
body {
  background-color: #EEE5EE;
  font-family: Sans-Serif;
  line-height: 18px;
  }


div#welcome_image {
  height: 90vh;
  background: url("../images/Paris.jpg");
  background-size: 100% 100%;
}

#signup_form {
  margin-top: 3rem;
}
.tall_row {
  margin-top: 1.5rem;
  height: 5rem;
}

.new_trip {
  
}
