Hello, <%=@user.first_name%>!
Your trips are:

<ul>
<%@user.trips.each do |trip|%>
  <li><%=trip.origin%>
  <li><a href="my-trips/<%=trip.slug%>">Go to trip</a>
<%end%>

</ul>


To create a new trip, click <a href="/my-trips/new">here</a>
Or sign out <a href="/logout">here</a>
