<form action="/signup" method="POST">
  First Name: <input type="text" name="user[first_name]"/>
  Lass Name <input type="text" name="user[last_name]">
  Email: <input type="text" name="user[email]">
  Password: <input type="password" name="user[password]">
  <input type="submit" value="Sign Up"/>

</form>
